<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'calendarapp/css/styles.css' %}">
    
</head>
<body>
    <div class="navigation-container">
        <!-- Previous month button on the left side -->
        <a class="nav-button" href="{% url 'calendar-view' previous_year previous_month %}">&lt; Previous Month</a>
        
        <!-- Centered title -->
        <h1>{{ month_name }}</h1>
        <a class="add-event-button" href="{% url 'add-event' %}">Add Event</a>
        <button class="customize-button" id="openModalBtn">&#x1F440;</button>
        
        <!-- Next month button on the right side -->
        <a class="nav-button" href="{% url 'calendar-view' next_year next_month %}">Next Month &gt;</a>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Time</th>
                {% for day in days %}
                    <th>{{ day|date:"jS" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in calendar_data %}
                <tr>
                    <td>{{ row.hour }}:00</td>
                    {% for events in row.events %}
                        <td {% if forloop.counter0|add:1 == current_day and current_month == current_month and current_year == current_year %}class="current-day"{% endif %}>
                            {% if events %}
                                {% for event in events %}
                                    <div class="event">
                                        {{ event.title }}
                                        <a href="{% url 'edit-event' event.id %}">Edit</a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
</body>
</html>
